# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.ruff_cache/
.ipynb_checkpoints/
.venv/
venv/
env/

# Tableau
*.twb.bak
*.twbx.bak
*.hyper

# OS
.DS_Store
Thumbs.db
desktop.ini

# Editors
.vscode/
.idea/
*.swp
*.swo

# Temp
*.bak
*.tmp
*.log
